

<mat-toolbar color="primary">
  <span>App Users</span>

  <span class="example-spacer"></span>

  <button mat-button>Primary</button>
  <button mat-button>Usuarios</button>
  <button mat-button>Reportes</button>

  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>Contact</mat-icon>
  </button>
  <button mat-button routerLink="/dashboard">Dashboard</button>
  <button mat-button routerLink="/dashboard/usuarios">Usuarios</button>
  <button mat-button routerLink="/dashboard/reportes">Reportes</button>

<button mat-icon-button routerLink="/logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
